
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487745133402'); /* IE9*/
  src: url('iconfont.eot?t=1487745133402#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487745133402') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487745133402') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487745133402#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e601"; }

.icon-weixin:before { content: "\e604"; }

.icon-dizhi:before { content: "\e6d7"; }

.icon-menu1:before { content: "\e602"; }

.icon-weibo:before { content: "\e65c"; }

.icon-x:before { content: "\e620"; }

.icon-sanjiao:before { content: "\e65a"; }

.icon-sousuo-sousuo:before { content: "\e600"; }

.icon-chuanzhen:before { content: "\e68c"; }

